.stories-list {
    margin: 20px 5px;
}

.stories-list> li{
    color: gray;
    font-size: 0.8rem;
    margin:10px;

}
#stories-loading-msg {
font-weight:bold;
font-size:150%;
margin: 20px 30px;

}

.story-link {
	color: black;
	font-size: 0.85rem;
	font-weight: normal;
	margin: 18px 0;
}

.story-link:hover {
	text-decoration: none;
}

.story-author {
	margin-left: 2em;
}

.story-user {
	display: block;
}

#titleContainer {
	display: flex;
	justify-content: center;
}

.containerStory {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.input-story {
	margin: 10px;
}

#submit-btn:hover {
	background-color: #ff6600;
}
